node_modules/
node-js-lessons/lesson_4/npm/node_modules
node-js-lessons/homework/lesson_5/lab_5/node_modules
node-js-lessons/homework/lesson_5/lab_5/task_2/node_modules
node-js-lessons/homework/lesson_5/lab_5/task_3/node_modules
node-js-lessons/homework/lesson_3/lab_3/task_3/node_modules
node-js-lessons/homework/lesson_6/lab_6/task_1/node_modules
node-js-lessons/homework/lesson_6/lab_6/task_2/node_modules
node-js-lessons/homework/lesson_6/lab_6_add/node_modules
node-js-lessons/homework/lesson_7/lab_7/task_1/node_modules
node-js-lessons/homework/lesson_7/lab_7/task_2/node_modules