<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue.js</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <input type="text" v-model="name" />
    <input type="text" v-model="age" />
    <p>Имя: {{name}}   Возраст {{age}}</p>
    <p>{{checkAge()}}</p>
    <p>{{enabled}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {name:'Tom', age:25},
        computed:{
            enabled: function(){
                console.log("computed");
                return this.age > 17 ?  "доступ разрешен":
					"доступ запрещен";
            }
        },
        methods:{
            checkAge: function(){
                console.log("method");
                return this.age > 17 ?  "доступ разрешен":
					"доступ запрещен";
            }
        }
    });
</script>
</body>
</html>