p { font-size: 20px; }
li { text-decoration: underline;
     font-size: 40px;
     color: black;}
.red { color: red;}
.small { font-size: 20px;
         color: black; }
p:first-child { font-size: 40px; }
h1 { color: green; }
p:nth-of-type(3n) { font-size: 40px;
                    text-decoration: underline; }
